<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Blog kim</title>
</head>

<body>

  <header>

    <div class="background-gray"></div>

    <%- include ./pages/home/_nav.ejs -%>

    <%- include ./pages/home/_slideshow.ejs -%>

    <%- include ./pages/home/_top_form.ejs -%>

  </header>


  <main>

    <%- include ./pages/home/_main_content.ejs -%>

  </main>


  <footer>

    <%- include ./pages/home/_footer.ejs -%>

  </footer>

</body>

</html>
