<div class="main">
  <div class="container">
    <div class="card-columns">

      <div class="card">
        <%- include ./_post.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_img.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_blockquote.ejs  -%>
      </div>

      <div class="card">
        <%- include ./_post_gallery.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_img.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_travel.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_link.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_video.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_blockquote.ejs  -%>
      </div>

      <div class="card">
        <%- include ./_post_audio.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_img.ejs -%>
      </div>

      <div class="card">
        <%- include ./_post_blockquote.ejs  -%>
      </div>

    </div>
  </div>
</div>
